<div>
    <h1>Reset password</h1>
    <form class="form" action="login()" [formGroup]="reset">
        <div class="input">
            <img src="svgs\password.svg" alt="">
            <input id="passwordField1" [type]="lh.passwordFields[0].inputType" formControlName="password" placeholder="Enter a password">
            <img (click)="lh.changeVisibility(0)" class="passowordVisibility" [src]="lh.passwordFields[0].src" alt="">
        </div>
        <div class="input">
            <img src="svgs\password.svg" alt="">
            <input id="passwordField2" [type]="lh.passwordFields[1].inputType" formControlName="password" placeholder="Confirm Password">
            <img (click)="lh.changeVisibility(1)" class="passowordVisibility" [src]="lh.passwordFields[1].src" alt="">
        </div>
    </form>
    <button (click)="resetPass()">Reset my password</button>
</div>
