@media (max-width: 700px) {

    .category_cont {
        margin-top: 120px;
    }
}


@media (max-width: 500px) {
    .startpage {
        text-align: center;
        padding: 0px 20px;
        .form {
            flex-direction: column !important;
        }
        .input {
            width: 90% !important;
        }
    }

    .input_with_errorcont {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .frame {
        padding: 10px 10px !important;
    }

    .new_on_videoflix {
        min-height: unset !important;
        padding: 0px 10px !important;
    }

    .category_cont {
        padding: 0px 10px !important;
    }

    .s_video {
        width: 170.5px !important;
        height: 96px !important;
    }

    #backgroundImg {
        position: unset !important;
        height: 35vh !important;
    }

    .main_mobile_video_details {
        min-height: calc(100vh - 61px) !important;
        padding: 0px 0px !important;
        .main_head_text {
            padding: 30px 20px !important;
            span {
                font-size: 50px !important;
            }
        }
    }
}

@media (max-width: 380px) {
    .new {
        flex-direction: column;
        gap: 4px;
    }
}