/* You can add global styles to this file, and also import other style files */
@use "./colors.scss" as c;
@use './ov.scss';
@use './scrollbar.scss';
@use './responsive.scss';

*{
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    cursor: default;
    overflow-x: hidden;
    font-family: 'DM Sans';
    min-height: 100vh;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    body {
        max-width: 1920px;
        // max-height: 1080px;
    }
}

.flex {
    display: flex;
}

.d-none {
    display: none;
}

input::placeholder {
    color: c.$utilityWhite;
}

.errormsg {
    color: c.$error !important;
}

.input_with_errorcont {
    position: relative;
}

.errorcont {
    position: absolute;
}

button:disabled {
    background-color: c.$disabbled !important;
}

a {
    text-decoration: none;
    color: c.$whiteText;
}

app-sign-in,
app-sign-up,
app-forget-password,
app-reset-password {
    width: 100%;
    background-color: unset;
}

app-toastmsg {
    position: absolute;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./../../public/fonts/dm-sans-v15-latin-500.woff2') format('truetype');
}
@font-face {
    font-family: 'DM Sans';
    src: url('./../../public/fonts/dm-sans-v15-latin-700.woff2') format('truetype');
}
@font-face {
    font-family: 'DM Sans';
    src: url('./../../public/fonts/dm-sans-v15-latin-regular.woff2') format('truetype');
}