@use "./../../styles/colors.scss" as c;
@use "./../../styles/mixins.scss" as mix;

*{
    max-width: 1920px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: c.$background;
    color: c.$whiteText;
    flex-direction: column;
    z-index: -2;
    align-items: center;
}

header {
    height: 108px;
    display: flex;
    justify-content: center;
}

.frame {
    width: 100vw;
    max-width: 1440px;
    @include mix.flex($j: space-between);
    padding: 10px 96px;
    >div>img{
        &:hover {
            cursor: pointer;
        }
    }
}

main {
    min-height: calc(100vh - 169px);
    width: 100%;
    // padding: 0px 40px;
}

.category_cont{
    @include mix.flex($a:start, $g:20px);
    flex-direction: column;
    padding: 0px 40px;
}

.video_frame {
    @include mix.flex($a:start);
    flex-direction: column;
    margin-top: 20px;
    >div {
        margin-top: 20px;
        @include mix.flex($g:20px);
        flex-direction: row;
    }
}

.s_video {
    width: 213px;
    height: 120px;
    // background-color: gray;
    position: relative;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    // transform: translateX(-50%);
    width: 100vw;
    height: calc(100vh - 200px);
    object-fit: cover;
    z-index: -1;
}

#backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 200px);
    object-fit: cover;
    z-index: -1;
}

app-header {
    position: fixed;
    top: 0;
    z-index: 9999;
}

app-footer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.new_on_videoflix {
    @include mix.flex($a:start, $j:end);
    flex-direction: column;
    min-height: 66vh;
}

.main_head {
    height: 78vh;
    >div {
        height: 100%;
        padding: 0px 40px;
    }
    .s_video {
        margin-top: 20px;
    }
}