<body>
    <app-header [page]="'main'"></app-header>
    <main>
        <!-- @if(currentSource != '') {
        <div>
            <app-video-player></app-video-player>
        </div>
        } -->
        <div class="main_head">
            <video id="backgroundVideo" #backgroundVideo [src]="videoSource" muted autoplay loop></video>
            <img id="backgroundImg" [src]="imgSource" alt="">
            <div class="new_on_videoflix">
                <h2>New on Videoflix</h2>
                    @for(v of latestVideos; track v) {
                        <div class="s_video" (click)="setActiveVideo(v.id)" (mouseenter)="setStartVideo(v.id)">
                            <img (click)="setActiveVideo(v.id)" [src]="v.thumbnail" alt="">
                        </div>
                    }
            </div>
        </div>
        <div class="category_cont">
            <div class="video_frame" *ngFor="let category of categorys">
                <h2>{{category.toUpperCase()}}</h2>
                <div>
                    @for(video of videos; track video) {
                        @if(video.category === category) {
                        <div class="s_video" (click)="setActiveVideo(video.id)" (mouseenter)="setStartVideo(video.id)">
                            <h5>{{ video.title }}</h5>
                            <img (click)="setActiveVideo(video.id)" [src]="video.thumbnail" alt="">
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>