@use "./../../colors.scss" as c;
@use "./../../mixins.scss" as mix;

body {
    min-height: 100vh;
    width: 100vw;
    background-color: c.$background;
    color: c.$whiteText;
    display: flex;
    flex-direction: column;
}

header {
    height: 108px;
    display: flex;
}

.frame {
    width: 100vw;
    max-width: 1440px;
    @include mix.flex($j: space-between);
    padding: 10px 96px;
    >div>img{
        &:hover {
            cursor: pointer;
        }
    }
}

button{
    @include mix.button;
    div {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 4px;
    }
}

main {
    min-height: calc(100vh - 108px);
    min-width: 100vw;
    background-color: c.$background;
    padding: 0px 40px;
}

.category_cont{
    @include mix.flex($a:start, $g:20px);
    flex-direction: column;
}

.video_frame {
    @include mix.flex($a:start);
    flex-direction: column;
    >div {
        margin-top: 20px;
        @include mix.flex($g:20px);
        flex-direction: row;
    }
}

.s_video {
    width: 250px;
    height: 150px;
    background-color: gray;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}