<header>
    @if(page === 'login' || page === 'imprint') {
        <div class="frame">
            <div>
                @if(screenWidth < 500 && page !== 'imprint') {
                    <img (click)="goToRootPath()" src="./svgs/Symbol.svg" alt="">
                }@else {
                    <img (click)="goToRootPath()" src="./svgs/Logo.svg" alt="">
                }
            </div>

            @if(page === 'login') {
                <button [ngClass]="(loginPage) ? 'd-none': 'flex'" (click)="goToLogin()">Log in</button>
            }@else {
                <img (click)="goToRootPath()" src="./svgs/arrow_back.svg" alt="">
            }
        </div>
    }

    @if(page === 'main') {
        <div class="frame" [ngClass]="(mainMenu) ? 'd-none': 'flex'">
            <div>
                <img (click)="goToMainMenu()" src="./svgs/Symbol.svg" alt="">
            </div>
            <button (click)="logout()">
                <div>
                    <img src="svgs/logout.svg" alt="">
                    <span>Log out</span>
                </div>
            </button>
        </div>
    }

    @if(page === 'video') {
        <div class="frame video">
            <div>
                <img (click)="goToRootPath()" src="./svgs/arrow_back.svg" alt="">
            </div>
            <h2 class="title">{{ title }}</h2>
            <img src="./svgs/Symbol.svg" alt="">
        </div>
    }

    @if (page === 'video_mobile') {
        <div class="frame video">
            <div class="mobileLogo_Title">
                <img src="./svgs/Symbol.svg" alt="">
                <h2 class="title">{{ title }}</h2>
            </div>
            <img (click)="goToRootPath()" src="./svgs/close_small.svg" alt="">
        </div>
    }
</header>