<body>
    <app-header [page]="'imprint'"></app-header>
    <main>
        <h1 class="main_title">Impressum</h1>
        <address>
            Marcel Zalec<br>
            Drosen 40<br>
            8383 St.Martin an der Raab<br>
            Austria<br>
        </address>

        <p>E-mail: <a href="mailto:videoflix@marcelzalec.at">videoflix&#64;marcelzalec.at</a></p>

        <p><strong>Verantwortlich für den Inhalt:</strong></p>
        <address>
            Marcel Zalec<br>
            Drosen 40<br>
            8383 St.Martin an der Raab
        </address>
    </main>
</body>
