@use './../../styles/colors.scss' as c;
@use './../../styles/mixins.scss' as mix;

body {
    @include mix.flex($j:start);
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: c.$background;
}

main {
    @include mix.flex($j:start);
    width: 100%;
    padding: 0px 20px;
}

.main_title {
    color: c.$purple;
}