@use "./../../styles/colors.scss" as c;
@use "./../../styles/mixins.scss" as mix;
@use "./../../styles/animations.scss";

*{
    max-width: 1920px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: c.$background;
    color: c.$whiteText;
    flex-direction: column;
    z-index: -2;
    align-items: center;
}

header {
    height: 108px;
    display: flex;
    justify-content: center;
}

.frame {
    width: 100vw;
    max-width: 1440px;
    @include mix.flex($j: space-between);
    padding: 10px 96px;
    >div>img{
        &:hover {
            cursor: pointer;
        }
    }
}

main {
    min-height: calc(100vh - 169px);
    width: 100vw;
    // padding: 0px 40px;
}

.category_cont{
    @include mix.flex($a:start, $g:20px);
    flex-direction: column;
    padding: 0px 40px;
}

.video_frame {
    @include mix.flex($a:start);
    flex-direction: column;
    >div {
        margin-top: 20px;
        @include mix.flex($a:start ,$g:20px);
        flex-direction: column;
    }
}

#backgroundVideo, #backgroundImg {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

app-header {
    position: fixed;
    top: 0;
    z-index: 9999;
}

app-footer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.new_on_videoflix {
    position: absolute;
    bottom: 20px;
    @include mix.flex($a:start, $j:end);
    flex-direction: column;
    // min-height: 66vh;
    padding: 0px 0px 20px 40px;
}

.s_video {
    width: 213px;
    height: 120px;
    position: relative;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.main_head {
    height: 78vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_head_text {
    @include mix.flex($a:start, $j:end, $g:32px);
    flex-direction: column;
    text-align: start;
    color: c.$whiteText;
    height: fit-content !important;
    z-index: 1;
    padding: 140px 40px 60px 40px;
    >p {
        font-size: 16px;
        font-weight: 400;
        max-width: 440px;
        line-height: 100%;
    }
    >span {
        font-size: 88px;
        font-weight: 700;
        line-height: 100%;
    }
    button {
        @include mix.button();
        &:hover {
            cursor: pointer;
        }
    }
}

.video_list {
    @include mix.flex($j:start, $a:start, $g:20px);
    width: 100%;
}

.scroll_animation_header_down {
    animation: fadeOut 0.5s ease-in-out;
    transform: translate(0, -110px);
}

.scroll_animation_header_up {
    animation: fadeIn 0.5s ease-in-out;
}