<body>
    <app-header [ngClass]="headerAnimationClass" [page]="'main'"></app-header>
    <main [ngClass]="{'main_mobile_video_details': mobile}">
        @if(!mobile || videoDetail) {
            <div class="main_head">
                @if(videoSource != '' && !mobile) {
                    <video id="backgroundVideo" #backgroundVideo [src]="videoSource" muted autoplay loop></video>
                }
                @if(imgSource != '') {
                    <img id="backgroundImg" [src]="imgSource" alt="">
                }

                @if(currentE != null && currentE.title != '') {
                    <div class="main_head_text">
                        <span>{{currentE.title}}</span>
                        <p>{{currentE.description}}</p>
                        <button (click)="setActiveVideo(currentE.id)">PLAY</button>
                    </div>
                }
                @if(latestVideos.length > 0 && !videoDetail) {
                    <div class="new_on_videoflix">
                        <h2>New on Videoflix</h2>
                        <div class="video_list">
                            @for(v of latestVideos; track v) {
                                <div class="s_video" (mouseenter)="setStartVideo(v.id)">
                                    <img (click)="setActiveVideo(v.id)" [src]="v.thumbnail" alt="">
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        @if(!mobile || mobile && !videoDetail) {
            <div class="category_cont">
                <div class="video_frame">
                    @for(c of all_categorys; track c) {
                        <div class="category">
                            <h2>{{c.category.toUpperCase()}}</h2>
                            <div class="video_list">
                                @for(v of c.videos; track v; let i = $index) {
                                    <div id="video_{{c.category}}_{{i}}" class="s_video" (mouseenter)="setStartVideo(v.id)">
                                        @if(mobile) {
                                            <img (touchstart)="VideoDetailOpen(v.id)" [src]="v.thumbnail" alt="">
                                        } @else {
                                            <img (click)="setActiveVideo(v.id)" [src]="v.thumbnail" alt="">
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </main>
    <app-footer></app-footer>
</body>